<table style="width: 33%; border-collapse: collapse; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
    <thead style="background-color: #89CFF0;">
        <tr>
            <th style="padding: 10px; border: 1px solid #ddd;">Field</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Card Number</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ card.card_number }}</td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">CSC Code</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ card.csc_code }}</td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Cardholder Name</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ card.cardholder_name }}</td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Expiration Date</td>
            <td style="padding: 10px; border: 1px solid #ddd;">
                {{ card.expiryDate }}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Issuer</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ card.issuer }}</td>
        </tr>
    </tbody>
</table>
<div style="width: 33%; margin-top: 10px;">
    <input type="text" style="width: 100%; padding: 10px; box-sizing: border-box;"
        placeholder="Type 'delete' to confirm" />
    <button
        style="width: 100%; padding: 10px; color: white; background-color: red; border: none; margin-top: 10px; cursor: pointer;"
        (click)="deleteCard()">Remove</button>

</div>

<table style="width: 100%; border-collapse: collapse; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); margin-top: 20px;">
    <thead style="background-color: #89CFF0;">
        <tr>
            <th style="padding: 10px; border: 1px solid #ddd;">Transaction ID</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Amount</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Date</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Currency</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td style="padding: 10px; border: 1px solid #ddd;">{{ transaction.uid }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ transaction.amount }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ transaction.date | date }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ transaction.currency }}</td>
        </tr>
    </tbody>
</table>