table {
    border-collapse: collapse; /* This ensures that adjacent borders will collapse into a single border */
    width: 100%; /* You can adjust this based on your requirements */
  }
  
  td {
    border: 1px solid #a47070; /* This sets a border around each cell */
    padding: 20px; /* Add some padding to the cell content */
    text-align: center; /* Align text to the left; adjust if necessary */
  }
  
  /* Hover effect */
  tr:hover {
    background-color: #cdbfcf;
  }
  
  .error-message {
    font-size: 0.8em;
    color: rgba(255, 0, 0, 0.7); /* Adjust as per your requirement */
    margin-top: 4px;
  }
  