table {
    border-collapse: collapse;
    width: 30%;  /* Adjust this percentage based on your requirements */
    margin-left: left; /* Centers the table horizontally */
    margin-right: auto;
  }
  
  td {
    border: 1px solid #a47070; /* This sets a border around each cell */
    padding: 20px; /* Add some padding to the cell content */
    text-align: left; /* Align text to the left; adjust if necessary */
  }
  
  /* Hover effect */
  tr:hover {
    background-color: #cdbfcf;
  }
  
  .error-message {
    font-size: 0.8em;
    color: rgba(255, 0, 0, 0.7); /* Adjust as per your requirement */
    margin-top: 4px;
  }
  