<div class="add-transaction-form">
  <h2>Add Transaction</h2>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <table>
          <tbody>
              <tr>
                  <td><label for="description">Description:</label></td>
                  <td><input type="text" id="description" formControlName="description" class="form-control custom-input" required></td>
              </tr>
              <tr>
                  <td><label for="amount">Amount:</label></td>
                  <td><input type="number" id="amount" formControlName="amount" class="form-control custom-input" required></td>
              </tr>
              <tr>
                  <td><label for="currency">Currency:</label></td>
                  <td><input type="text" id="currency" formControlName="currency" class="form-control custom-input" required></td>
              </tr>
              <tr>
                  <td><label for="comment">Comment:</label></td>
                  <td><input type="text" id="comment" formControlName="comment" class="form-control custom-input"></td>
              </tr>
              <tr>
                  <td><label for="creditCard">Credit Card Number:</label></td>
                  <td><input type="number" id="creditCard" formControlName="creditCard" class="form-control custom-input" required></td>
              </tr>
          </tbody>
      </table>
      <div class="submit-button-container">
          <button type="submit" class="btn btn-primary custom-button">Add Transaction</button>
      </div>
  </form>
</div>
