table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.transaction-list {
  flex: 0.7;
  margin-right: 2rem;
}

.add-transaction-form {
  flex: 0.3;
}