<div class="container">

  <!-- Left side: Transaction List -->
  <div class="transaction-list">
    <div>
      <th>Filter by credit card number: </th>
      <input [(ngModel)]="filter" (ngModelChange)="applyFilter()" type="number" placeholder="Filter by card number">
    </div>
    <h2>Transaction List</h2>
    <table class="table">
      <app-transaction-list 
      [transactions]="transactions"
      [filter]="filter">
    </app-transaction-list>
    </table>
  </div>
  <div class="add-transaction-form">
    <app-transaction-add (addTransaction)="handleNewTransaction($event)"></app-transaction-add>
  </div>
</div>