@import '~font-awesome/css/font-awesome.css';

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #a47070;
  padding: 20px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.transaction-list {
  flex: 0.7;
  margin-right: 2rem;
}

.add-transaction-form {
  flex: 0.3;
}